{% extends "layout.html" %}
{% block title %}Autofocus{% endblock %}
{% block outerbody %}
  {% set image = site.get('/blog').attachments.images.first() %}
  {% if image %}
    <div class="page-banner page-banner-300" style="background-image: url({{ image|url }})"></div>
  {% endif %}
  {{ super() }}
{% endblock %}
{% block body %}
  <div class="row">
    <div class="eight columns">
      {% block blog_body %}{% endblock %}
    </div>
    <div class="four columns">
      <h5>About This Blog</h5>
      <p>
        “Autofocus” is a blog about all things <a href="{{ '/'|url
        }}">Bokeh</a> and Bokeh-adjacent.
      <ul>
        <li><a href="https://twitter.com/BokehPlots">Follow us on Twitter</a>
      </ul>
    </div>
  </div>
{% endblock %}